body {
    margin: 0;
    padding: 0;
    font-family: Magistral;
    background-color: white;
}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(58, 58, 58);
    transition: all 2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
}
.admin-image-showcase{
    width: 300px;
}

@font-face {
    font-family: Magistral;
    src: url('/static/fonts/magistral.ttf');
}
@font-face {
    font-family: geo;
    src: url('/static/fonts/bpg_nino_mtavruli_bold.ttf');
}
textarea{
    min-width: 500px;
    min-height: 250px;
    resize: none;
}
label {
    display: inline-block;
    width: 160px;
    text-align: left;
}
.dashboard-list-item{
    width: 350px!important;
    background-color: #767ca0!important;
}

.dashboard-button {
    height: 44px;
    width:250px;
    line-height:44px;
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration:none;
}

.dashboard-button:disabled {
cursor: default;
}

.dashboard-button:focus {
box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

input, textarea{
    font-family: calibri;
}

input{
    width: 300px;
    height: 24px;
    
}

#languageButton{
    cursor: pointer;
}

/*low-res monitors*/
@media screen and (max-width: 1368px) {}

/*phone resolution*/
@media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 0px;
    }
    
}