<style>
    .footer {
        height: 8vh;
        line-height: 8vh;
        margin: 0;
        background-color: #ebebeb;
        display: flex;
        justify-content: space-between;
        padding: 0 20px 0 20px;
        color: #5d5d5d;
    }

    .footer-text p {
        font-size: 1em;
        margin: 0;
    }

    .social-icons-footer ul li a i {
        color: #5d5d5d;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .social-icons-footer ul li a i:hover {
        color: grey;
    }

    .social-icons-footer ul {
        display: flex;
        align-items: center;
    }

    .social-icons-footer h1 {
        margin: 40px 0;
    }

    .social-icons-footer ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .social-icons-footer ul li a {
        display: block;
        font-size: 2em;
        margin: 0 15px;
        text-decoration: none;
    }
</style>

<div class="footer">
    <div class="footer-text">
        <p>© 2021 LTD "NGS LAB"</p>
    </div>

    <div class="social-icons-footer">
        <ul>
            <li><a href="#"><i class=" icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-instagram"></i></a></li>

        </ul>
    </div>
</div>